@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./utilidades/formulario.css";

/* Home */
@import "./home/intro.css";
@import "./home/solucoes.css";
@import "./home/servicos.css";
@import "./home/clientes.css";

/* Sobre */
@import "./sobre/sobre.css";

/* Solução */
@import "./solucao/solucao.css";

/* Soluções */
@import "./solucoes/solucoes.css";

/* Contato */
@import "./contato/contato.css";

/* Animação */
@import "./anim/animacao.css";

#meuBanner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    margin: auto;
  }
  
  .prev {
    left: -8px;
  }
  
  .next {
    right: -8px;
  }
  
  .prev:hover, .next:hover {
    opacity: 1;
  }